* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --bgcol: #fff;
  --fontcol: #333;
}

body {
  font-family: "inter", sans-serif;
  background-color: var(--bgcol);
  color: #333;
}

/* navbar style */
.navbar-section {
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: "";
}

.nav-menu .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.wrapper li a {
  color: rgb(94, 94, 94);
  font-size: 0.8rem;
  font-weight: 400;
  transition: 0.1s;
}

.wrapper li a:hover {
  color: black;
}

.nav-menu .sign a {
  color: white;
  background-color: #e4002b;
  font-family: "poppins", sans-serif;
  padding: 0.2rem 1.1rem 0.3rem;
  font-size: 0.9rem;
  font-weight: 450;
  border-radius: 20px;
}

.logo img {
  width: 8rem;
}

/* none zone */
#menu {
  display: none;
}

#ex {
  display: none;
}
/* none zone */

/* resp */
@media (max-width: 1000px) {
  html {
    font-size: "";
  }

  #menu {
    display: inline-block;
    margin-top: 0.5rem;
    color: black;
    border: 0.5px solid #e4002b;
    padding: 0.4rem 0.6rem 0.2rem;
    border-radius: 20px;
    transition: 0.2s ease;
  }

  #menu:hover {
    background-color: #e4002b;
    color: white;
  }

  #ex {
    display: inline-block;
  }

  .tag {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .tag a {
    color: #000;
    border: 0.5px solid #e4002b;
    padding: 1rem 0.5rem 0.2rem;
    border-radius: 20px;
    transition: 0.2s ease;
  }

  .tag a:hover {
    background-color: #e4002b;
    color: white;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
  }

  .list {
    position: absolute;
    top: -1100%;
    right: 0%;
    background-color: #fffffff7;
    width: 100%;
    height: 100vh;
    transition: 1s ease-in-out;
    z-index: 1;
  }

  .list.active {
    top: 0;
  }

  .list .wrapper {
    display: block;
    margin-top: 5rem;
    margin-left: 1.1rem;
  }

  .wrapper li {
    margin-top: 0.4rem;
  }

  .wrapper li a {
    font-size: 1.6rem;
    font-weight: 550;
  }
  .nav-menu .sign {
    position: absolute;
    right: 4.3rem;
    top: 1rem;
  }
}
